* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topLine {
    background-color: #60267f;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 5px 0;
}

.topLineSpan {
    text-decoration: underline;
}

.headerContainer {
    padding: 15px 10px 15px 30px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.090);
}


.headerUl {
    display: flex;
    gap: 20px;
}

.navigationContainer {
    display: flex;
    gap: 20px;
    align-items: center;

}

.headerList {
    list-style: none;
}

.headerList a{
    text-decoration: none;
    color: #2B0236;
}

.headerBtn {
    color: #9A54BC;
    border: 2px solid #9A54BC;
    border-radius: 0.4em;
    font-weight: bold;
    display: flex;
    padding: 10px;
    cursor: pointer;
}
.headerBtn:hover {
    background: #9A54BC;
    color: white;
}

.section1 {
    margin-top: 100px;
    
}

.headingContainer {
    gap: 50px;
    text-align: center;

}
 

.heading {
    font-size: 3rem;
    color: #2B0236;
}

.headingBtn {
    padding: 20px 32px;
    background-color: #9A54BC;
    color: white;
    border: 1px solid #9A54BC;
    border-radius: 5px;
    font-weight: 700;
}

.headingBtn:hover {
    background-color: white;
    color: #9A54BC;
    transition: 0.1s;
    cursor: pointer;
}


.firstPhoneContainer {
    height: 500px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.smallElipse {
    top: 65px;
}

.rectangle {
    top: 80px;
}

.cllaWord {
    top: 175px;
    width: 100px;
}

.elipseBtn {
    bottom: 110px;
    width: 140px;
    padding: 10px 15px; 
    color: #60267f;
    border: 2px solid #9A54BC;
    border-radius: 5px;
    background-color: white;
    font-weight: 700;
}
