* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root {
    --white: #fff;
    --brand-green: #00856F;
    --purple: #60267F;
}
.fontRoboto {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    
.headerTwo {
    font-size: 2rem;
    color: black;
}

.topLine {
    background-color: #60267F;
    text-align: center;
    font-size: 12px;
    color: white;
    padding: 5px 0;
}
.topLineSpan {
    text-decoration: underline;
}
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px 15px 50px;
    border-bottom: 2px solid rgba(139, 132, 132, 0.322);
    
}
.headerUl {
    display: flex;
    gap: 20px;
    
}
.navigationContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.headerList > a {
    text-decoration: none;
    color: #2B0236;
}
.headerList {
    list-style: none;

}
.headerBtn {
    background: none;
    padding: 8px 10px;
    border: #9A54BC 2px solid;
    border-radius: 5px;
    color: #9A54BC;
    font-size: 11px;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}
.headerBtn:hover {
    background-color: #9A54BC;
    color: white;  
}

.section1 {
    margin-top: 100px;
}
.headingContainer {
    gap: 50px;
    text-align: center;
}
.heading {
    font-size: 3rem;
    color: #2B0236;
}

.headingBtn {
    padding: 14px 32px;
    background-color: #9A54BC;
    color: white;
    border: 1px solid #9A54BC;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}
.headingBtn:hover {
    background-color: white;
    color: #9A54BC;
}
.firstPhoneContainer {
    /* margin-top: 250px; */
    height: 500px;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.smallElipse {
    top: 65px;
}
.rectangle {
    top: 80px;
}
.collabWord {
    top: 175px;
    width: 95px;
}
.elipseBtn {
    top: 363px;
    width: 147px;
    padding: 6px 14px;
    color: #9A54BC;
    border: 3px solid #9A54BC;
    border-radius:5px;
    background-color:#fff;
    font-weight:700;
    cursor: pointer;
}
.elipseBtn:hover {
    color: white;
    background-color: #60267F;
    border: 2px solid #60267F;
}
.topBrandsContainer {
    margin-top: 100px;
    gap: 50px
}
.iconsContainer {
    gap: 50px;
}
.iconsContainer > img {
    width: 135px;
    height: 90px;
}
.collabAppHelpContainer {
    margin-top: 100px;
    gap: 75px;
}
.mainContainer {
    justify-content: center;
}
.leftparaContainer {
    width: 30%;
}
.buttonContainer {
    display: flex;
    width: 100%;
    border-radius: 5px;
    padding: 5px 2px;
    gap: 5px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 15px 19px 17px -25px rgba(0,0,0,0.03); 
    box-shadow: 0px 10px 13px -7px #000000, 15px 19px 17px -25px rgba(0,0,0,0.03);
}
.buttonContainer > button {
    width: 50%;
    padding: 5px 2px;
    border: 2px solid #9A54BC;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}
.buttonContainer > button:hover {

    background-color: #60267F;
    color: white;
    border: 2px solid #9A54BC;

}
.paraContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    gap: 10px;
}
.paraContainer > p {
    background-color: #F2F2F2;
    padding: 1rem;
}
.paraContainer > p > span {
    font-weight: bold;
}
.rightImgContainer {
    width: 20%;
    margin-left: 10%;
    padding: 50px 0px 0px 0px;

}
.rightImgContainer > img {
    width: 200px;

}

.budgetContainer {
    margin-top: 100px;
    gap: 30px;
}
.budgetContainer > p {
    font-size: 24px;
    text-align: center;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .projectsDoneContainer {
    margin-top: 100px;
    gap: 50px;
  }
  .projectsDoneCardsContainer {
    width: 100%;
    gap: 50px;
  }
.cards {
    align-items:flex-start;
    gap: 10px;

}
.cards > span {
    margin-left: 20px;
}
.cards > img {
    width: 300px;
}
.projectDoneCardHeader {
    color:#60267F ;
    font-weight: 550;
}
.projectDoneCardNumber {
    font-weight: 800;
}
.bigCardsContainer {
    gap: 20px;
    margin-top: 100px;
}
.bigCardsTopPara {
    font-size: 12px;
    color: #A79D9D;
}
.monthlyYearlyCOntainer {
    gap: 10px;
    margin-top: 30px;
    font-size: 16px;
}
.monthly {
    color: #A79D9D;
}
.yearly {
    font-weight: 500;
}
.discount {
    font-size: 10px;
    background-color: #FFE87A;
    padding: 3px;
    border-radius: 3px;
}
.threeBigCardContainer {
    gap: 50px;
}
.bigCard {
    width: 250px;
    height: 450px;
    border: 0.5px solid #AAAAAA;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 14px;
}
.bigCard > p {
    font-size: 16px;
    font-weight: 700;
}
.bigCard > button {
    padding: 15px 20px;
    background-color: white;
    border: 2px solid #2B0236;
    color: #2B0236;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.bigCard > button:hover {
    background-color: #2B0236;
    color: white;
    border: 3px solid #9A54BC;
    border-radius: 3px;

}
.bigCardListContainer {
    gap: 15px;
    align-items: flex-start;
    
}
.bigCardListContainer > li {
    padding: 0 0 0 10px;
    font-size: 12px;
}
.bigCardListContainer > li::marker {
    content: "▶";
    }
.CardThree {
    background-color: #56E6A5;
}
.CardThree > .cardThreePara {
    color: #000000a6;
}

.starsContainer {
    margin-top: 40px;
    padding: 50px 0;
    gap: 20px;
}

.stars{
    margin-top: 70px;
    margin-bottom: 60px;
}

.arrowsContainer {
    gap: 80px;
}

.arrowsContainer p {
    margin-top: 40px;
    width: 800px;
    height: 135px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.face p {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;

}

.joinUsContainer {
    margin-top: 135px;
    gap: 20px;
}
    
.joinUsContainer p {
    width: 800px;
    line-height: 26px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.joinUsContainer button {
    background: #9A54BC;
    margin-top: 20px;
    padding: 13px 20px;
    gap: 20px;
    border:2px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.faceContainer {
    gap: 50px;
    margin-top: 100px;
    height: 600px;
}
.faces {
    position: relative;
}

.faceVector {
    position: relative;
    width: 1000px;
    top: -20%;
    left: 0%;
}
.face1 {
    position: absolute;
    top: -40%;
    left: -8%;
}
.face2 {
    position: absolute;
    top: 40%;
    left: 3%;
}
.face3 {
    position: absolute;
    top: 27%;
    left: 20%;
}
.face4 {
    position: absolute;
    top: 55%;
    left: 34%;
}
.face5 {
    position: absolute;
    top: 60%;
    left: 50%;
}
.face6 {
    position: absolute;
    top: 50%;
    left: 67%;
}
.face7 {
    position: absolute;
    top: 64%;
    left: 81%;
}
.face8 {
    position: absolute;
    top: 18%;
    left: 87%;
}

.you {
    position: absolute;
    top: 15%;
    left: 80%;
}

.downloadAppsContainer {
    margin-top: 135px;
    background-color: #9A54BC ;
    width: 100%;
    height: 450px;
}

.appTitle {
    margin-top: 150px;
    font-size: 3rem;
    color: #F2F2F2
}

.appBtnContainer {
    margin-top: 70px;
    width: 50%;
    gap: 40px;
    align-items:center;
    margin-bottom: 150px;  
}

.btn1,
.btn2 {
    color: #9A54BC;
    border: 2px solid #fff;
    background-color: #fff;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.btn2 {
    background-color: #9A54BC;
    color: #fff;
}

.btn1:hover {
    color: #fff;
    background-color: #9A54BC;
}

.btn2:hover {
    color: #9A54BC;
    background-color: #fff;
}

.mapContainer h2 {
    margin-bottom: 50px;
}

.mapPara {
    gap: 30px;
}

.mapPara p {
    width: 600px;
    line-height: 26px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}


.navContainer{
    margin: 2rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction:row;

}
.collabIcon{
    width: 130px;
    margin-bottom: 1rem;
}
.navPic span{
    font-weight: 700;
    margin-top: 1rem;
}
.navPic>nav{
    gap: 1rem;
    display: flex;
    flex-direction: row;
}
.navPic>nav img{
    height: 40px;
    margin-top: 1rem;
}
.navPic p{
    width: 70%;

}
.navPic {
    width: 40%;
    display: flex;
    flex-direction: column;
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root {
    --white: #fff;
    --brand-green: #00856F;
    --purple: #60267F;
}
.fontRoboto {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    
.headerTwo {
    font-size: 2rem;
    color: black;
}

.topLine {
    background-color: #60267F;
    text-align: center;
    font-size: 12px;
    color: white;
    padding: 5px 0;
}
.topLineSpan {
    text-decoration: underline;
}
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px 15px 50px;
    border-bottom: 2px solid rgba(139, 132, 132, 0.322);
    
}
.headerUl {
    display: flex;
    gap: 20px;
    
}
.navigationContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.headerList > a {
    text-decoration: none;
    color: #2B0236;
}
.headerList {
    list-style: none;

}
.headerBtn {
    background: none;
    padding: 8px 10px;
    border: #9A54BC 2px solid;
    border-radius: 5px;
    color: #9A54BC;
    font-size: 11px;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}
.headerBtn:hover {
    background-color: #9A54BC;
    color: white;  
}

.section1 {
    margin-top: 100px;
}
.headingContainer {
    gap: 50px;
    text-align: center;
}
.heading {
    font-size: 3rem;
    color: #2B0236;
}

.headingBtn {
    padding: 14px 32px;
    background-color: #9A54BC;
    color: white;
    border: 1px solid #9A54BC;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}
.headingBtn:hover {
    background-color: white;
    color: #9A54BC;
}
.firstPhoneContainer {
    /* margin-top: 250px; */
    height: 500px;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.smallElipse {
    top: 65px;
}
.rectangle {
    top: 80px;
}
.collabWord {
    top: 175px;
    width: 95px;
}
.elipseBtn {
    top: 363px;
    width: 147px;
    padding: 6px 14px;
    color: #9A54BC;
    border: 3px solid #9A54BC;
    border-radius:5px;
    background-color:#fff;
    font-weight:700;
    cursor: pointer;
}
.elipseBtn:hover {
    color: white;
    background-color: #60267F;
    border: 2px solid #60267F;
}
.topBrandsContainer {
    margin-top: 100px;
    gap: 50px
}
.iconsContainer {
    gap: 50px;
}
.iconsContainer > img {
    width: 135px;
    height: 90px;
}
.collabAppHelpContainer {
    margin-top: 100px;
    gap: 75px;
}
.mainContainer {
    justify-content: center;
}
.leftparaContainer {
    width: 30%;
}
.buttonContainer {
    display: flex;
    width: 100%;
    border-radius: 5px;
    padding: 5px 2px;
    gap: 5px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 15px 19px 17px -25px rgba(0,0,0,0.03); 
    box-shadow: 0px 10px 13px -7px #000000, 15px 19px 17px -25px rgba(0,0,0,0.03);
}
.buttonContainer > button {
    width: 50%;
    padding: 5px 2px;
    border: 2px solid #9A54BC;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}
.buttonContainer > button:hover {

    background-color: #60267F;
    color: white;
    border: 2px solid #9A54BC;

}
.paraContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    gap: 10px;
}
.paraContainer > p {
    background-color: #F2F2F2;
    padding: 1rem;
}
.paraContainer > p > span {
    font-weight: bold;
}
.rightImgContainer {
    width: 20%;
    margin-left: 10%;
    padding: 50px 0px 0px 0px;

}
.rightImgContainer > img {
    width: 200px;

}

.budgetContainer {
    margin-top: 100px;
    gap: 30px;
}
.budgetContainer > p {
    font-size: 24px;
    text-align: center;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .projectsDoneContainer {
    margin-top: 100px;
    gap: 50px;
  }
  .projectsDoneCardsContainer {
    width: 100%;
    gap: 50px;
  }
.cards {
    align-items:flex-start;
    gap: 10px;

}
.cards > span {
    margin-left: 20px;
}
.cards > img {
    width: 300px;
}
.projectDoneCardHeader {
    color:#60267F ;
    font-weight: 550;
}
.projectDoneCardNumber {
    font-weight: 800;
}
.bigCardsContainer {
    gap: 20px;
    margin-top: 100px;
}
.bigCardsTopPara {
    font-size: 12px;
    color: #A79D9D;
}
.monthlyYearlyCOntainer {
    gap: 10px;
    margin-top: 30px;
    font-size: 16px;
}
.monthly {
    color: #A79D9D;
}
.yearly {
    font-weight: 500;
}
.discount {
    font-size: 10px;
    background-color: #FFE87A;
    padding: 3px;
    border-radius: 3px;
}
.threeBigCardContainer {
    gap: 50px;
}
.bigCard {
    width: 250px;
    height: 450px;
    border: 0.5px solid #AAAAAA;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 14px;
}
.bigCard > p {
    font-size: 16px;
    font-weight: 700;
}
.bigCard > button {
    padding: 15px 20px;
    background-color: white;
    border: 2px solid #2B0236;
    color: #2B0236;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.bigCard > button:hover {
    background-color: #2B0236;
    color: white;
    border: 3px solid #9A54BC;
    border-radius: 3px;

}
.bigCardListContainer {
    gap: 15px;
    align-items: flex-start;
    
}
.bigCardListContainer > li {
    padding: 0 0 0 10px;
    font-size: 12px;
}
.bigCardListContainer > li::marker {
    content: "▶";
    }
.CardThree {
    background-color: #56E6A5;
}
.CardThree > .cardThreePara {
    color: #000000a6;
}

.starsContainer {
    margin-top: 40px;
    padding: 50px 0;
    gap: 20px;
}

.stars{
    margin-top: 70px;
    margin-bottom: 60px;
}

.arrowsContainer {
    gap: 80px;
}

.arrowsContainer p {
    margin-top: 40px;
    width: 800px;
    height: 135px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.face p {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;

}

.joinUsContainer {
    margin-top: 135px;
    gap: 20px;
}
    
.joinUsContainer p {
    width: 800px;
    line-height: 26px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.joinUsContainer button {
    background: #9A54BC;
    margin-top: 20px;
    padding: 13px 20px;
    gap: 20px;
    border:2px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.faceContainer {
    gap: 50px;
    margin-top: 100px;
    height: 600px;
}
.faces {
    position: relative;
}

.faceVector {
    position: relative;
    width: 1000px;
    top: -20%;
    left: 0%;
}
.face1 {
    position: absolute;
    top: -40%;
    left: -8%;
}
.face2 {
    position: absolute;
    top: 40%;
    left: 3%;
}
.face3 {
    position: absolute;
    top: 27%;
    left: 20%;
}
.face4 {
    position: absolute;
    top: 55%;
    left: 34%;
}
.face5 {
    position: absolute;
    top: 60%;
    left: 50%;
}
.face6 {
    position: absolute;
    top: 50%;
    left: 67%;
}
.face7 {
    position: absolute;
    top: 64%;
    left: 81%;
}
.face8 {
    position: absolute;
    top: 18%;
    left: 87%;
}

.you {
    position: absolute;
    top: 15%;
    left: 80%;
}

.downloadAppsContainer {
    margin-top: 135px;
    background-color: #9A54BC ;
    width: 100%;
    height: 450px;
}

.appTitle {
    margin-top: 150px;
    font-size: 3rem;
    color: #F2F2F2
}

.appBtnContainer {
    margin-top: 70px;
    width: 50%;
    gap: 40px;
    align-items:center;
    margin-bottom: 150px;  
}

.btn1,
.btn2 {
    color: #9A54BC;
    border: 2px solid #fff;
    background-color: #fff;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.btn2 {
    background-color: #9A54BC;
    color: #fff;
}

.btn1:hover {
    color: #fff;
    background-color: #9A54BC;
}

.btn2:hover {
    color: #9A54BC;
    background-color: #fff;
}

.mapContainer h2 {
    margin-bottom: 50px;
}

.mapPara {
    gap: 30px;
}

.mapPara p {
    width: 600px;
    line-height: 26px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}


.navContainer{
    margin: 2rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction:row;

}
.collabIcon{
    width: 130px;
    margin-bottom: 1rem;
}
.navContainer>.navPic span{
    font-weight: 700;
    margin-top: 1rem;
}
.navPic>nav{
    gap: 1rem;
    display: flex;
    flex-direction: row;
}
.navPic>nav img{
    height: 40px;
    margin-top: 1rem;
}
.navPic p{
    width: 70%;

}
.navPic {
    width: 40%;
    display: flex;
    flex-direction: column;
    
}
.navContainer>div{
    width: 30%;
}
.navLinks{
    display: flex;
    justify-content: flex-start;
    gap: 70px ;
}
.navLinks > nav > p{
    font-weight: 700;
}
.navLinks > nav{
    gap: 2rem;
    display: flex;
    flex-direction: column;
}
.navLinks>nav>a{
    text-decoration: none;
    color: #9A54BC;
}
.navContainer .contactUs{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    align-items: baseline;
}
.navContainer .contactUs > a{
    text-decoration: none;
    color: #9A54BC;
}
.navContainer .contactUs>p{
    font-weight: 700;
    
}
footer {
    background-color: #60267F;
    color: white;
    text-align: center;
    margin-top: 3rem;
    height: 30px;
    
}

    
}
.navContainer>div{
    width: 30%;
}
.navLinks{
    display: flex;
    justify-content: flex-start;
    gap: 70px ;
}
.navLinks > nav > p{
    font-weight: 700;
}
.navLinks > nav{
    gap: 2rem;
    display: flex;
    flex-direction: column;
}
.navLinks>nav>a{
    text-decoration: none;
    color: #9A54BC;
}
.navContainer .contactUs{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    align-items: baseline;
}
.navContainer .contactUs > a{
    text-decoration: none;
    color: #9A54BC;
}
.navContainer .contactUs>p{
    font-weight: 700;
    
}
footer {
    background-color: #60267F;
    color: white;
    text-align: center;
    margin-top: 3rem;
    height: 30px;
    
}
